* {
  @import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700;800&display=swap');
  font-family: 'JetBrains Mono', monospace;
  /* @font-face {
    src: url('./font/Soleil.otf') format('opentype');
  }
  font-family: soleil, sans-serif;
  font-style: normal;
  font-weight: 300; */

  --dark-trans: rgba(0, 0, 0, 0.9);
  --dark: #3c4040;
  --light: #efe6dd;
  --light2: #777e7e;
  --gold: #c19e47;
  --fail: #ff7070;
  --info: #4f8dcf;
  --success: #5cb270;
  --tras-time: 500ms;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
/* :root {
    font-size: 16px;
  } */
*::before,
*::after {
  box-sizing: border-box;
}
html {
  height: 100vh;
  width: 100vw;
}
input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
#app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: var(--dark);
  color: var(--light);
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bdr {
  border: solid var(--info);
}
.btn-rnd {
  height: 5em;
  width: 5em;
  margin: 1em;
  border: solid var(--light2);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(145deg, #404444, #363a3a);
  box-shadow: 5px 5px 10px #2a2d2d, -5px -5px 10px #4e5353;
  cursor: pointer;
}
.btn-rnd:active {
  box-shadow: inset 5px 5px 10px #2a2d2d, inset -5px -5px 10px #4e5353;
}
.btn-rnd.muted {
  background: var(--fail);
  box-shadow: inset 5px 5px 10px #b34e4e, inset -5px -5px 10px #ff9292;
}
.btn-rnd.linked {
  background: var(--info);
  box-shadow: inset 5px 5px 10px #4378b0, inset -5px -5px 10px #5ba2ee;
}
.btn-rnd-sm {
  height: 3em;
  width: 3em;
  margin: 0.5em 1em;
}
.btn-rnd-sm:active {
  box-shadow: inset 5px 5px 10px #2a2d2d, inset -5px -5px 10px #4e5353;
}
.modal {
  /* color: var(--light); */
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--dark-trans);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99;
}
li {
  list-style: none;
  gap: 1em;
}
.disable {
  /* display: none; */
  pointer-events: none;
  opacity: 0.1;
}
